.footer-style {
  background: inherit;
  margin-top: auto;
  padding: 10px 700px;
  position: fixed;
  bottom: 0px;
}

footer {
  color: rgb(255, 255, 255);
  font-size: 11px;
}

@import url("https://fonts.googleapis.com/css?family=Domine|Lobster");
