.header-style {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(70, 65, 65)
  );
  padding-top: 10px;
  padding-bottom: 20px;
}

header {
  color: rgb(30, 30, 30);
  font-weight: bolder;
  font-size: 20px;
}
.flex-container {
  padding-right: 3cm;
  padding-top: 10px;
  padding-bottom: 0cm;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right !important;
}
body .header-style {
  border: none;
  background: inherit;
}
.p-splitbutton-button {
  color: rgb(194, 182, 182);
  background: inherit !important;
}
.p-splitbutton {
  color: inherit !important;
}
@import url("https://fonts.googleapis.com/css?family=Domine|Lobster");
.p-menubar-container {
  align-self: flex-end;
  justify-content: right !important;
  width: 100%;
  font-weight: 600 !important;
  font-size: 11px;
}
.p-menuitem-text {
  font-size: 11px;
  color: rgb(30, 30, 30) !important;
  font-weight: bold;
}
.p-menuitem-icon {
  color: rgb(30, 30, 30) !important;
}

body .p-menubar {
  border: none;
  background: inherit;
}

body .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: rgb(216, 209, 209);
  border-radius: 10px;
}

body .p-menubar .p-menuitem-link {
  font-weight: 500;
}

body .p-menubar .p-menuitem-link:hover {
  color: #f2653c;
}
